#headerBackground {
  background: #141414;
}

.headerContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: 4.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: transparent;
  z-index: 999;

  transition: all ease 0.5s;

  .headerLogo {
    height: 2.2rem;

    img {
      height: 100%;
    }
  }

  .headerUser {
    height: 2.3rem;

    img {
      height: 100%;
      border-radius: 3px;
    }
  }
}